<div id="dashboardSection">
	<md-content class="md-padding" layout-xs="column" layout="row">
		<div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="center center" class="cardMainHeadCount">
				  30,342
			  </div>
			  <div layout="row" layout-align="center center" class="cardLabel">
				  Total Miss Calls
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="20" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="center center" class="cardsubHeadCount">
				  12,340
			  </div>
			  <div layout="row" layout-align="center center" class="cardLabel">
				  Unique Miss Calls
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="20" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="center center" class="cardsubHeadCount">
				  18,002
			  </div>
			  <div layout="row" layout-align="center center" class="cardLabel">
				  Report Miss Calls
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="20" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="center center" class="cardsubHeadCount">
				  04:45:00
			  </div>
			  <div layout="row" layout-align="center center" class="cardLabel">
				  Average Call Duration
			  </div>
			</md-card-title>
		  </md-card>
		</div>
	  </md-content>
	  <md-content class="md-padding" layout-xs="column" layout="row">
		 <div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  IVR Channel Calls
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  Top 5 Crops Farming
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  Type of Farming
			  </div>
			</md-card-title>
		  </md-card>
		</div>
	  </md-content>
	  <md-content class="md-padding" layout-xs="column" layout="row">
		  <div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  Top 5 IVR Calls Locations
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  Overall Circle Report
			  </div>
			</md-card-title>
		  </md-card>
		</div>
	  </md-content>
</div>
