<script type="text/javascript" src="node_modules/chart.js/dist/Chart.js"></script>
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>
<script type="text/javascript" src="script/graph.js"></script>
<script>
$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=us-counties-unemployment.json&callback=?', function (data) {

    /**
     * Data parsed from http://www.bls.gov/lau/#tables
     *
     * 1. Go to http://www.bls.gov/lau/laucntycur14.txt (or similar, updated datasets)
     * 2. In the Chrome Developer tools console, run this code:
     * copy(JSON.stringify(document.body.innerHTML.split('\n').filter(function (s) { return s.indexOf('<PUT DATE HERE IN FORMAT e.g. Feb-14>') !== -1; }).map(function (row) { row = row.split('|'); return { code: 'us-' + row[3].trim().slice(-2).toLowerCase() + '-' + row[2].trim(), name: row[3].trim(), value: parseFloat(row[8]) }; })))
     * 3. The data is now on your clipboard, paste it below
     */

    var countiesMap = Highcharts.geojson(Highcharts.maps['countries/us/us-all-all']),
        lines = Highcharts.geojson(Highcharts.maps['countries/us/us-all-all'], 'mapline'),
        options;

    // Add state acronym for tooltip
    Highcharts.each(countiesMap, function (mapPoint) {
        mapPoint.name = mapPoint.name + ', ' + mapPoint.properties['hc-key'].substr(3, 2);
    });

    options = {
        chart: {
            borderWidth: 1,
            marginRight: 50 // for the legend
        },

        legend: {
            title: {
                text: 'Unemployment<br>rate',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            },
            layout: 'vertical',
            align: 'right',
            floating: true,
            valueDecimals: 0,
            valueSuffix: '%',
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255, 255, 255, 0.85)',
            symbolRadius: 0,
            symbolHeight: 14
        },

        mapNavigation: {
            enabled: true
        },

        colorAxis: {
            dataClasses: [{
                from: 0,
                to: 2,
                color: "#F1EEF6"
            }, {
                from: 2,
                to: 4,
                color: "#D4B9DA"
            }, {
                from: 4,
                to: 6,
                color: "#C994C7"
            }, {
                from: 6,
                to: 8,
                color: "#DF65B0"
            }, {
                from: 8,
                to: 10,
                color: "#DD1C77"
            }, {
                from: 10,
                color: "#980043"
            }]
        },

        plotOptions: {
            mapline: {
                showInLegend: false,
                enableMouseTracking: false
            }
        },

        series: [{
            mapData: countiesMap,
            data: data,
            joinBy: ['hc-key', 'code'],
            name: 'Unemployment rate',
            tooltip: {
                valueSuffix: '%'
            },
            borderWidth: 0.5,
            states: {
                hover: {
                    color: '#a4edba'
                }
            }
        }, {
            type: 'mapline',
            name: 'State borders',
            data: [lines[0]],
            color: 'white'
        }, {
            type: 'mapline',
            name: 'Separator',
            data: [lines[1]],
            color: 'gray'
        }]
    };

    // Instanciate the map
    $('#container5').highcharts('Map', options);
});
</script>
<div id="dashboardSection">
	<md-content class="md-padding" layout-xs="column" layout="row">
		<div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="center center" class="cardMainHeadCount">
				  30,342
			  </div>
			  <div layout="row" layout-align="center center" class="cardLabel">
				  Total Miss Calls
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="20" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="center center" class="cardsubHeadCount">
				  12,340
			  </div>
			  <div layout="row" layout-align="center center" class="cardLabel">
				  Unique Miss Calls
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="20" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="center center" class="cardsubHeadCount">
				  18,002
			  </div>
			  <div layout="row" layout-align="center center" class="cardLabel">
				  Report Miss Calls
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="20" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="center center" class="cardsubHeadCount">
				  04:45:00
			  </div>
			  <div layout="row" layout-align="center center" class="cardLabel">
				  Average Call Duration
			  </div>
			</md-card-title>
		  </md-card>
		</div>
	  </md-content>
	  <md-content class="md-padding" layout-xs="column" layout="row">
		 <div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  IVR Channel Selection
			  </div>
		      <div layout="row" layout-align="" class="">
				<canvas id="ivrchannelSection" width="auto" height="300"></canvas>
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  Top 5 Crops Farming
			  </div>
		      <div layout="row" layout-align="" class="">
				<canvas id="topcropSection" width="auto" height="300"></canvas>
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  Type of Farming
			  </div>
			  <div layout="row" layout-align="" class="">
				<canvas id="farmingTypeSection" width="auto" height="300"></canvas>
			  </div>
			</md-card-title>
		  </md-card>
		</div>
	  </md-content>
	  <md-content class="md-padding" layout-xs="column" layout="row">
		  <div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  Top 5 IVR Calls Locations
			  </div>
			  <div layout="row" layout-align="" class="">
					<div id="container5" style="position: relative; width: 100%; height: auto;"></div>
			  </div>
			</md-card-title>
		  </md-card>
		</div>
		<div flex-xs flex-gt-xs="50" layout="column">
		  <md-card class="myCard" md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
			<md-card-title layout="column">
			  <div layout="row" layout-align="" class="cardHeading">
				  Overall Circle Report
			  </div>
			  <div layout="row" layout-align="" class="">
				  <table class="" width="100%">
					  <tr>
						  <th></th>
						  <th>Miss Call</th>
						  <th>Unique Call</th>
						  <th>Repeat Call</th>
						  <th>Call Duration</th>
						  <th>Total Average</th>
					  </tr>
				  	  <tr>
						  <td class="sideTableheading">Aurangabad</td>
					  	  <td>2,204</td>
						  <td>670</td>
						  <td>1376</td>
						  <td>02:30:00</td>
						  <td>60.45%</td>
					  </tr>
					  <tr>
						  <td class="sideTableheading">Kaas Plateau</td>
					  	  <td>2,204</td>
						  <td>670</td>
						  <td>1376</td>
						  <td>02:30:00</td>
						  <td>60.45%</td>
					  </tr>
					  <tr>
						  <td class="sideTableheading">Nashik</td>
					  	  <td>2,204</td>
						  <td>670</td>
						  <td>1376</td>
						  <td>02:30:00</td>
						  <td>60.45%</td>
					  </tr>
					  <tr>
						  <td class="sideTableheading">Nagpur</td>
					  	  <td>2,204</td>
						  <td>670</td>
						  <td>1376</td>
						  <td>02:30:00</td>
						  <td>60.45%</td>
					  </tr>
					  <tr>
						  <td class="sideTableheading">Kolad</td>
					  	  <td>2,204</td>
						  <td>670</td>
						  <td>1376</td>
						  <td>02:30:00</td>
						  <td>60.45%</td>
					  </tr>
				  </table>
			  </div>
			</md-card-title>
		  </md-card>
		</div>		  
	  </md-content>
</div>

